#rabbit{width:102px;height: 80px;background-repeat:no-repeat;position: absolute;display:block;}
#rabbit2{width:102px;height: 80px;background-repeat:no-repeat;display:block;position:relative;top:150px;left:100px;}
#rabbit3{width:102px;height: 80px;background-repeat:no-repeat;display:block;position:relative;top:220px;left:100px;}
#rabbit4{width:102px;height: 80px;background-repeat:no-repeat;display:block;position:relative;top:320px;left:100px;}
#deer{width:84px;height: 59px;position:relative;top:100px;}